.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.bin
*.pdf
*.zip
*.tar
*.gz
test-*
download-*
# Shell scripts (utility files, not part of core project)
test-installation.sh
create-release.sh
setup-github.sh
setup-homebrew-tap.sh
